#intro{
    background-color: #FAF5FF;
    width: 600px;
    height: 150px;

    border: 1px solid #ddd;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 2px 2px 5px #ccc; /* Adds a subtle shadow */
    padding: 20px;
    margin: 10px;
}

body{
    background-color: #CEFAFE;
}

.europe{
    color: #21BCFF;
}

.asia{
    color: #A684FF;
}

.south-america{
    color: #7BF1A8;
}

.north-america{
    color: #7C86FF;
}
.image{
    height: 300px;
    width: 200px;
}